.root {
  -fx-background-color: #e6e6e6;
}

#login_area{
  -fx-border-color: #730003;
  -fx-border-radius: 5px;
  -fx-border-width: 2px;
  -fx-background-color: white;
}

#user_login_button {
  -fx-background-color: #730003;
  -fx-text-fill: white;
}

#user_login_button:hover{
  -fx-border-color: #730003;
  -fx-text-fill: #730003;
  -fx-background-color: white;
}

#faculty_login_button {
  -fx-background-color: #ab6668;
  -fx-text-fill: white;
}

#faculty_login_button:hover {
  -fx-border-color: #ab6668;
  -fx-text-fill: #ab6668;
  -fx-background-color: #730003;
}

#email_label, #password_label {
  -fx-text-fill: #730003;
}

#semester_area {
  -fx-border-color: #730003;
  -fx-border-radius: 5px;
}

#progress_area {
  -fx-border-color: #730003;
  -fx-border-radius: 5px;
}

#progress_bar {
  -fx-background-color: #730003;
}

#profilePane {
  -fx-background-color: #730003;
}

#profileInnerPane {
  -fx-background-color: #e6e6e6;
  -fx-background-radius: 10px;
  -fx-border-color: black;
  -fx-border-width: 5px;
  -fx-border-radius: 10px;
}

#profile_area {
  -fx-border-radius: 10px;
}

.course-label {
  -fx-font-size: 16px;
  fx-padding: 10px;
  fx-background-color: #f4f4f4;
  -fx-margin: 5px;
  -fx-border-radius: 5px;
}

#search_pane{
  -fx-border-color: #730003;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
  -fx-background-color: white;
}

#degreeplanner_search:hover{
  -fx-text-fill: #730003;
}

#search_button {
  -fx-background-color: #730003;
  -fx-text-fill: white;
}

#search_course_lbl{
  -fx-text-fill: #730003;
}

#logout_button{
  -fx-background-color: #ab6668;
  -fx-text-fill: white;
  -fx-background-radius: 30;
}

#profileLogoutButton {
  -fx-background-color: #e6e6e6;
  -fx-text-fill: #730003;
  -fx-background-radius: 10px;
}

#facultyLoginPane {
  -fx-border-color: #730003;
  -fx-border-radius: 5px;
  -fx-border-width: 2px;
  -fx-background-color: white;
}

#facultyLoginButton {
  -fx-background-color: #730003;
  -fx-text-fill: white;
  -fx-background-radius: 20;
}

#studentLoginButton {
  -fx-background-color: #ab6668;
  -fx-text-fill: white;
}

#sem1, #sem2, #sem3, #sem4, #sem5, #sem6, #sem7, #sem8 {
  -fx-background-color: white;
  -fx-border-color: #730003;
  -fx-border-radius: 5px;
}

#facultyNotePane {
  -fx-background-color: white;
  -fx-background-radius: 5px;
}

#adviseeTable {
  -fx-border-color: black;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
  -fx-background-color: transparent;
}

#adviseeTable .table-cell {
  -fx-border-color: black;
}

#adviseeTable .column-header{
  -fx-background-color: #730003;
  
}

#adviseeTable .column-header .label {
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-padding: 10px;
}

#studentAdvNoteVbox{
  -fx-background-color: white;
  -fx-border-color: #730003;
}